<section class="contact-us">
    <div class="main-content">
        <div class="form">
            <h2>Contact us today</h2>
            <p>Brief intro paragraph about this section. Bis porepelent quam nam ut raeptam facillo riberum sitatur aut
                proreperiata volorer.</p>
            <form [formGroup]="form" class="grid">
                <div class="custom-input">
                    <input placeholder="Full Name *" formControlName="fullName"/>
                </div>
                <div class="custom-input">
                    <input placeholder="Email address *" formControlName="email"/>
                </div>
                <div class="custom-input">
                    <input placeholder="Contact number" formControlName="contactNum"/>
                </div>
                <div class="custom-input">
                    <select formControlName="meeting">
                        <option hidden>Book a meeting</option>
                        <option *ngFor="let meeting of meetings" [ngValue]="meeting.val">{{ meeting.name }}</option>
                    </select>
                </div>
                <div class="custom-input">
                    <select formControlName="day">
                        <option hidden>Preferred day *</option>
                        <option *ngFor="let day of days" [ngValue]="day.val">{{ day.name }}</option>
                    </select>
                </div>
                <div class="custom-input">
                    <select formControlName="time">
                        <option hidden>Pereferred time *</option>
                        <option *ngFor="let time of times" [ngValue]="time.val">{{ time.name }}</option>
                    </select>
                </div>
                <div class="custom-input full">
                    <textarea type="" placeholder="Message" formControlName="message"></textarea>
                </div>
                <div class="submit-btn">
                    <button class="custom-btn" (click)="submit()" [disabled]="loading">{{ btnText }}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="details">
        <div class="content">
            <h2>Contact us</h2>
            <div class="underline"></div>
            <div class="row">
                <img src="assets/icons/location-dot-solid.svg"/>Find an adviser
            </div>
            <div class="row">
                <img src="assets/icons/message-solid.svg"/>Talk to an accountant
            </div>
            <div class="row">
                <img src="assets/icons/house-solid.svg"/>Talk to a mortgage broker
            </div>
            <div class="row">
                <img src="assets/icons/phone-solid.svg"/>0800 700 699
            </div>
            <div class="row">
                <img src="assets/icons/envelope-solid.svg"/>reception&#64;havenadvisers.co.nz
            </div>
            <div class="row">
                <img src="assets/icons/facebook-solid.svg"/>Be a part of our Facebook community
            </div>
        </div>
    </div>
</section>