<section class="header">
    <div class="intro">
        <div class="logo">
            <img src="assets/img/logo.png"/>
        </div>
        <div class="intro-content">
            <h1>Lorem ipsum dolor sit amet</h1>
            <h2>consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolo re magna aliqua onsectetur adipiscing elit, sed do eius mod tempor incid.</h2>
        </div>
    </div>
    <div class="sub-header">
        <div class="content">
            <h2>News & blog</h2>
            <div class="underline"></div>
            <div class="row">
                KiwiSaver HomeStart grant explained <img src="assets/icons/play-solid.svg" />
            </div>
            <div class="row">
                What's happening in the property market? <img src="assets/icons/play-solid.svg" />
            </div>
            <div class="row">
                Trust law reform <img src="assets/icons/play-solid.svg" />
            </div>
            <div class="row">
                Tax update - Simplification of taxes, foreign ... <img src="assets/icons/play-solid.svg" />
            </div>
            <div class="row">
                What do the new lending rules mean? <img src="assets/icons/play-solid.svg" />
            </div>
            <div class="row">
                How will the Reserve Bank respond to ... <img src="assets/icons/play-solid.svg" />
            </div>
        </div>
    </div>
</section>