<section class="main">
    <div class="header">
        <a href="#">Book keeping & payroll</a>
        <a href="#">Financial & GST</a>
        <a href="#" class="active">KiwiSaver advice</a>
        <a href="#">Insuring people</a>
        <a href="#">Tax & business advice</a>
        <a href="#">Trustee services</a>
        <a href="#">Mortgage advice</a>
    </div>
    <div class="content">
        <div class="preview">
            <img src="assets/img/video-img.png" />
        </div>
        <div class="sub-content">
            <h2>Why have a financial adviser?</h2>
            <p>
                <span>
                    Haven was created out of the need to
                    simply do things better. With specialist
                    advisers across a range of financial
                    services, we will offer you the best.
                    practical advice for your unique
                    situation.
                </span>
                <span>
                    Our financial advisers span the north
                    and south island making us conveniently
                    positioned wherever you need us.
                </span>
            </p>
            <div class="learn-more">
                <button class="custom-btn secondary">Learn more about our advisers</button>
                <img src="assets/img/white-arrow.png" />
            </div>
        </div>
    </div>
</section>